/*results.css*/

/* Устанавливаем высоту html и body на 100% */
html, body {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* Контейнер для основного содержимого */
.container_body {
    flex: 1; /* Растягивает основной контент */
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0;

}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Две колонки одинаковой ширины */
    gap: 20px; /* Расстояние между колонками и строками */
}


